* {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;

  .app_body {
    display: flex;
    background-color: #ededed;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);

    .sidebar {
      display: flex;
      flex-direction: column;
      flex: 0.35;

      .sidebar-header {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        background-color: rgb(252, 252, 249);
        align-items: center;
        padding: 20px;
        border-right: 1px, solid rgba(0, 0, 0, 0.75);

        .sidebar-header-right {
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-width: 10vw;

          .MuiSvgIcon-root {
            margin-right: 2vw;
            font-size: 24px !important;
          }
        }
      }

      .sidebar-search {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        height: 39px;
        padding: 10px;

        .search-container {
          display: flex;
          align-items: center;
          background-color: #ffff;
          width: 100%;
          height: 35px;
          border-radius: 20px;
          .MuiSvgIcon-root {
            color: gray;
            padding: 10px;
          }
          input {
            border: none;
            outline: none;
            margin-left: 10px;
          }
        }
      }
      .sidebar-chats {
        flex: 1;
        background-color: #ebebeb;
        overflow: scroll;
      }
    }
  }
}
